body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#header {
  background-color: #164863;
  color: white;
  text-align: center;
  padding: 10px;
}

#nav {
  background-color: #DDF2FD;
  color: white;
  padding: 10px;
  position: absolute;
  top: 60px;
  left: 0;
}

#content h2{
  color: #0F0F0F;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#nav ul {
  list-style-type: none;
  padding: 0;
}

#nav li {
  display: inline;
  margin-right: 10px;
}

#content {
  position: absolute;
  top: 100px;
  left: 10%;
  width: 80%;
  padding: 20px;
}

#footer {
  background-color: #164863;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*Re-directed pages  */

.redirect {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.redirect-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F0F0F0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.redirect-container h1 {
  color: #213555;
}

.redirect-container p {
  color: #164863;
}



